---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=vfHlu35Cds-lya0_H0bNNv2uNhYVlefdY8T9i5zeMgw&query=outside
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=vfHlu35Cds-lya0_H0bNNv2uNhYVlefdY8T9i5zeMgw&page=571&query=outside>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=vfHlu35Cds-lya0_H0bNNv2uNhYVlefdY8T9i5zeMgw&page=2&query=outside>;
        rel="next"
      X-Total:
      - '5708'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":5708,"total_pages":571,"results":[{"id":"TRhGEGdw-YY","created_at":"2016-08-03T12:14:29-04:00","updated_at":"2020-02-28T00:01:52-05:00","promoted_at":"2016-08-03T12:14:29-04:00","width":5745,"height":3830,"color":"#F1F3F8","description":null,"alt_description":"aerial
        photography of flowers at daytime","urls":{"raw":"https://images.unsplash.com/photo-1470240731273-7821a6eeb6bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODM0NX0","full":"https://images.unsplash.com/photo-1470240731273-7821a6eeb6bd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODM0NX0","regular":"https://images.unsplash.com/photo-1470240731273-7821a6eeb6bd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODM0NX0","small":"https://images.unsplash.com/photo-1470240731273-7821a6eeb6bd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODM0NX0","thumb":"https://images.unsplash.com/photo-1470240731273-7821a6eeb6bd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODM0NX0"},"links":{"self":"https://api.unsplash.com/photos/TRhGEGdw-YY","html":"https://unsplash.com/photos/TRhGEGdw-YY","download":"https://unsplash.com/photos/TRhGEGdw-YY/download","download_location":"https://api.unsplash.com/photos/TRhGEGdw-YY/download"},"categories":[],"likes":605,"liked_by_user":false,"current_user_collections":[],"user":{"id":"oqcoDebDAJ4","updated_at":"2019-11-29T21:17:30-05:00","username":"joelholland","name":"Joel
        Holland","first_name":"Joel","last_name":"Holland","twitter_username":"joelkentholland","portfolio_url":"https://www.dareful.com","bio":"Hi,
        I''m Joel! I''m the founder of the stock media company Storyblocks, and you
        can download my favorite stock video clips for free on my personal website:
        https://www.dareful.com","location":"Vail, Colorado","links":{"self":"https://api.unsplash.com/users/joelholland","html":"https://unsplash.com/@joelholland","photos":"https://api.unsplash.com/users/joelholland/photos","likes":"https://api.unsplash.com/users/joelholland/likes","portfolio":"https://api.unsplash.com/users/joelholland/portfolio","following":"https://api.unsplash.com/users/joelholland/following","followers":"https://api.unsplash.com/users/joelholland/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1470240255-6fa1a31e304c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1470240255-6fa1a31e304c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1470240255-6fa1a31e304c.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"joelkentholland","total_collections":0,"total_likes":1,"total_photos":7,"accepted_tos":true},"tags":[{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Choose from
        a curated selection of nature photos. Always free on Unsplash.","meta_title":"900+
        Nature Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature photos. Download HD nature pictures for free
        on Unsplash.","cover_photo":{"id":"NDuPLKYRXQU","created_at":"2015-05-13T06:18:09-04:00","updated_at":"2020-02-14T00:02:24-05:00","promoted_at":"2015-05-13T06:18:09-04:00","width":4592,"height":3056,"color":"#5E9FBE","description":"Icy
        blue mountain range","alt_description":"bird''s-eye view of mountain rang","urls":{"raw":"https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"[...]
