---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B%22location%22=%3E%22denver,co%22%7D&key=AIzaSyCERokcxko9e4aF7d0y58996MSaQRozsJM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 03:08:02 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/9c77bc7f72868d53fd7eaf179a404101/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 860ms
      X-Forecast-Api-Calls:
      - '72'
      X-Response-Time:
      - 75.321ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583291285,"summary":"Clear","icon":"clear-night","nearestStormDistance":17,"nearestStormBearing":302,"precipIntensity":0,"precipProbability":0,"temperature":48.24,"apparentTemperature":48.27,"dewPoint":14.86,"humidity":0.26,"pressure":1017.9,"windSpeed":2.35,"windGust":5.57,"windBearing":327,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":325.7},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1583291280,"precipIntensity":0,"precipProbability":0},{"time":1583291340,"precipIntensity":0,"precipProbability":0},{"time":1583291400,"precipIntensity":0,"precipProbability":0},{"time":1583291460,"precipIntensity":0,"precipProbability":0},{"time":1583291520,"precipIntensity":0,"precipProbability":0},{"time":1583291580,"precipIntensity":0,"precipProbability":0},{"time":1583291640,"precipIntensity":0,"precipProbability":0},{"time":1583291700,"precipIntensity":0,"precipProbability":0},{"t[...]
